doctype html
html
    head
        title —Узнай название цвета!
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        script(src="index.js")
        link(href="index.css", rel="stylesheet", type="text/css", media="screen")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic,cyrillic-ext,latin-ext,vietnamese,greek-ext,greek", rel="stylesheet", type="text/css")
    body(class="bodyMain")
        h1(class="bodyMain__tagLine") —Узнай название цвета!
        input(class="bodyMain__input" type="text")
